* {
  font-family: monospace;
  padding: 10px;
  border-radius: 10px;
}

div, p, button {
  font-size: 20px;
  color: #366b5a;
}

.scoreboard {
  width: 500px;
  background: aquamarine;
  margin: auto;
}

.stats {
  margin: auto;
  background: #366b5a;
  width: 100%;
  color: aquamarine;
}

h1 {
  text-align: center;
  color: #366b5a;
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}